spitest
a.out
module/.drawFunctions.o.cmd
module/.eink-module.o.cmd
module/.epd1in541.o.cmd
module/.epdif1.o.cmd
module/.gpioTest.ko.cmd
module/.gpioTest.mod.o.cmd
module/.gpioTest.o.cmd
module/.Lucida_Console_8pts_narrow.o.cmd
module/.Lucida_Console_8pts.o.cmd
module/modules.order
module/.tmp_versions/gpioTest.mod
module/modules.order
module/*.o
module/gpioTest.ko
module/modules.order
module/modules.order
module/gpioTest.mod.c
module/modules.order
module/aesdchar.ko
epaper
module/.eink-module.o.d
module/.einkChar.ko.cmd
module/.einkChar.o.cmd
module/.einkChar.mod.o.cmd
module/einkChar.mod.c
module/einkChar.ko
module/.tmp_versions/einkChar.mod
